.name {
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #474e58;

  strong {
    font-weight: bold;
  }
}

.btn-logout {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #9FAAB9;
	cursor: pointer;
}